.color-selector{
    margin-top:25px;
}

.color-selector h3{
    margin-bottom:15px;
    font-size:20px;
}

.color-options{
    display:flex;
    gap:15px;
    flex-wrap:wrap;
}

.color-options button{
    padding:12px 22px;
    border:2px solid #ddd;
    background:white;
    border-radius:10px;
    cursor:pointer;
    transition:.3s;
    font-size:15px;
    font-weight:500;
}

.color-options button:hover{
    border-color:#2563eb;
    transform:translateY(-3px);
}

.color-options button.active{
    background:#2563eb;
    color:white;
    border-color:#2563eb;
}